/** * Design Elements - additional  CSS for the rater plugin * * @author Taggic <taggic@t-online.de> */
/* ----- General Elements ---------- */
 .thumbup {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin: 0 auto;
	vertical-align:bottom;
	border:none;
}
.tup {background: url(img/thumbup_hover.gif) no-repeat;}
.thumbup:hover {background-position: 0 -18px;}

 .thumbdown {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin: 0 auto;
	vertical-align:bottom;
	border:none;
}
.tdn {background: url(img/thumbdown_hover.gif) no-repeat;}
.thumbdown:hover {background-position: 0 -18px;}

.rating__details {
	border:        1px #BDBEC1 solid;
	font-size:                0.85em;
	text-align:                right;
	background-color:        #F2F2F2;
	padding-right:              10px;
	padding-left:               10px;
	margin-left:              0.75em;
	margin-right:             0.75em;
	border-radius:               5px;
	box-shadow:         3px 3px #666;
}